.footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(42, 42, 42);
    align-items: center;
    justify-content: center;
}

.footer__text {
    font-weight: bold;
    color: white;
}

.footer__seal {
    margin-left: 1.5rem;
}