.sidebar {
    position: unset;
    width: 24%;
    height: auto;
    border: solid 2px black;
    background-color: rgba(120, 199, 127, 0.548);
    margin-top: 10rem;
}

ul {
  font-size: 20px;
}

ul li a {
  font-size: 25px;
}